<div class="container">
  <legend>Add A New Employee</legend>
  <div class="mb-3">
    <label for="txtEmployeeName" class="form-label">Employee Name</label>
    <input
      type="text"
      [(ngModel)]="EmployeeForm.empName"
      class="form-control"
      id="txtEmployeeName"
    />
  </div>
  <div class="mb-3">
    <label for="txtEmployeeId" class="form-label">Employee Id</label>
    <input
      type="number"
      [(ngModel)]="EmployeeForm.empId"
      class="form-control"
      id="txtEmployeeId"
    />
  </div>
  <div class="mb-3">
    <label for="txtEmpPhoneNumber" class="form-label">empPhoneNumber</label>
    <input
      type="number"
      [(ngModel)]="EmployeeForm.empPhoneNumber"
      class="form-control"
      id="txtEmpPhoneNumber"
    />
  </div>
  <div class="mb-3">
    <label for="txtempEmail" class="form-label">empEmail</label>
    <input
      type="text"
      [(ngModel)]="EmployeeForm.empEmail"
      class="form-control"
      id="txtempEmail"
    />
  </div>
  <button type="button" class="btn btn-dark" (click)="save()">Create</button>
</div>
